<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyTestApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyTestApp.styles.css" asp-append-version="true" />

    <!-- for google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/5db21ba9c6.js" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/Favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/Favicon/site.webmanifest">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://glayton.com/"><img src="/img/GL Logo Small Dark.svg"
                    alt="Greg Layton Logo" height="36" class="d-inline-block"></a>
            <span class="logoFont ps-2 pe-4" style="font-size:40px;"> RADAR</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span>
                    <i class="fas fa-bars hamburgerIcon"></i>
                </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Palindrome">Palindrome</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3 fixed-bottom">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-3 gy-2">
                <div class="col order-last order-lg-first">
                    <div><span class="copyright">&copy;2022</span> Greg Layton | Greg@glayton.com</div>
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-center">
                    <a href="https://glayton.com/">
                        <img src="/img/GL Logo Dark.svg" alt="Greg Layton Logo" height="36">
                    </a>
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
                    <div class="row">
                        <div class="col social">
                            <a href="https://www.linkedin.com/in/greg-layton-tx39191" target="_blank">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="https://github.com/GLayton-TX?tab=repositories" target="_blank">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
